<!doctype html>
<html>
  <head>
    <title>SF Bikeshare rides</title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>SF Bikeshare rides</h1>

      <%- include("./partials/errMsg.ejs") %>

      <div class="mb-4">
        <a href="/trips/create" class="btn btn-primary btn-sm">Create a Ride</a>
      </div>
      <div class="row">
  

        <% trips.forEach(function(trip){ %>
        <div class="col-4 mb-2">
          <div class="card p-2">
            <div class="card-title">
              <label>Ride ID: <output><%= trip.ride_id %></output> </label>
            </div>
            <div class="card-text">
              <div>
                <label
                  >Date: <output><%= trip.started_at %> to <%= trip.ended_at %></output>
                </label>
              </div>
              <div>
                <label
                  >From: <output><%= trip.start_station_name %> to <%= trip.end_station_name %></output>
                </label>
              </div>
              <div>
                <label
                  >Bike Type: <output><%= trip.rideable_type %></output>
                </label>
              </div>

              <div>
                <a
                  type="button"
                  class="btn btn-outline-primary btn-sm"
                  href="/trips/<%= trip.ride_id %>/edit"
                  >Edit</a
                >
                <a
                  type="button"
                  class="btn btn-outline-danger btn-sm"
                  href="/trips/<%= trip.ride_id %>/delete"
                  >Delete</a
                >
              </div>
            </div>
            <!-- /.card-text -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-4 -->

        <% }); %>
      </div>
      <!-- /.row -->

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>
