<!doctype html>
<html>
  <head>
    <title>Trip Edit</title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>Trip Edit <%= trip?.ride_id %></h1>

      <%- include("./partials/errMsg.ejs") %>

      <div>Trip edit here</div>

      <form action="/trips/<%= trip?.ride_id %>/edit" method="POST">
        <div class="mb-3">
          <label class="form-label">
            Start Station Name
            <input
              type="text"
              value="<%= trip.start_station_name %>"
              name="start_station_name"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            End Station Name
            <input
              type="text"
              value="<%= trip.end_station_name %>"
              name="end_station_name"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Started at
            <input
              type="text"
              value="<%= trip.started_at %>"
              name="started_at"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Ended at
            <input
              type="text"
              value="<%= trip.ended_at %>"
              name="ended_at"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Type of Ride
            <input
              type="text"
              value="<%= trip.rideable_type %>"
              name="rideable_type"
              class="form-control"
            />
          </label>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>
