<!doctype html>
<html>
  <head>
    <title>Trip Details <%= trip?.ride_id %></title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>Trip Details <%= trip?.ride_id %></h1>

      <%- include("./partials/errMsg.ejs") %>

      <div class="mb-1">
        <label class="form-label">
          <strong>Start Station Name:</strong>
          <output> <%= trip.start_station_name %> </output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>End Station Name:</strong>
          <output><%= trip.end_station_name %> </output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>Started at:</strong>
          <output><%= trip.started_at %></output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>Ended at:</strong>
          <output><%= trip.ended_at %></output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>Type of Ride:</strong>
          <output> <%= trip.rideable_type %> </output>
        </label>
      </div>

      <% if (comments && comments.length) { %>

      <h2>Comments:</h2>

      <% comments.forEach(function(comment){ %>

      <form action="/comments/<%= comment.comment_id %>/edit" method="POST">
        <div class="mb-1">
          <textarea type="text" name="comment" cols="80" rows="5">
  <%= comment.comment %></textarea
          >
        </div>
        <div class="mb-1">
          <button type="submit" class="btn btn-primary btn-sm">Edit</button>
          <a
            href="/comments/<%= comment.comment_id %>/delete"
            class="btn btn-danger btn-sm"
            >Delete</a
          >
        </div>
        <!-- /btn-group -->
      </form>

      <% }) %>
      <!-- comments for loop -->

      <% } %>
      <!-- if comments -->

      <h3>Add new comment</h3>
      <form action="/comments/create" method="POST">

        <input type="hidden" name="ride_id" value="<%= trip.ride_id %>" />

        <div class="mb-1">
          <label
            >New Comment:

            <textarea cols="80" rows="5" name="comment" class="form-control"></textarea>
          </label>
        </div>
        <div class="mb-1">
          <button type="submit" class="btn btn-primary">Comment</button>
        </div>
      </form>

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>
